h1{text-align: center;}
img{ width: 45%; height: 45%;  margin: auto; display: block;}
body{background-color: bisque;}
span{color: yellow;}
li{font-size: 18px;}
.jumbotron{background-color: black;!important;}
h2{text-align: center;}
.tree{width: 30%; height: 30%; float: right; margin: auto; }